In [41]:
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.endpoints import teamgamelog
from nba_api.stats.static import teams
from datetime import date
from nba_api.stats.static import players
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.endpoints import teamdashboardbyopponent

In [42]:
player_info = commonplayerinfo.CommonPlayerInfo(201935)
teamdashboardbyopponent.TeamDashboardByOpponent(team_id=1610612737, opponent_team_id=1610612738)

In [33]:
player_info.get_data_frames()[0].head()

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,...,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,201935,James,Harden,James Harden,"Harden, James",J. Harden,1989-08-26T00:00:00,Arizona State,USA,Arizona State/USA,...,Houston,james_harden,2009,2019,N,Y,Y,2009,1,3

In [19]:
teams.get_teams(('cav'))

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [55]:
teamgamelog.TeamGameLog('1610612737', '2019').get_data_frames()[0]

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612737,0021900228,"NOV 23, 2019",ATL vs. TOR,L,4,12,0.250,240,47,...,0.727,8,30,38,32,9,7,15,27,116
1,1610612737,0021900215,"NOV 22, 2019",ATL @ DET,L,4,11,0.267,240,38,...,1.000,10,24,34,26,12,2,19,18,103
2,1610612737,0021900204,"NOV 20, 2019",ATL vs. MIL,L,4,10,0.286,240,44,...,0.806,9,34,43,27,8,2,13,26,127
3,1610612737,0021900188,"NOV 17, 2019",ATL @ LAL,L,4,9,0.308,240,37,...,0.760,9,28,37,16,11,2,18,19,101
4,1610612737,0021900182,"NOV 16, 2019",ATL @ LAC,L,4,8,0.333,240,34,...,0.730,14,24,38,19,11,10,19,27,101
5,1610612737,0021900165,"NOV 14, 2019",ATL @ PHX,L,4,7,0.364,240,40,...,0.800,15,34,49,25,15,5,22,31,112
6,1610612737,0021900150,"NOV 12, 2019",ATL @ DEN,W,4,6,0.400,240,44,...,0.647,10,35,45,30,1,5,14,21,125
7,1610612737,0021900138,"NOV 10, 2019",ATL @ POR,L,3,6,0.333,265,42,...,0.720,11,37,48,21,11,8,16,26,113
8,1610612737,0021900119,"NOV 08, 2019",ATL vs. SAC,L,3,5,0.375,240,46,...,0.571,11,23,34,23,8,6,12,19,109
9,1610612737,0021900105,"NOV 06, 2019",ATL vs. CHI,L,3,4,0.429,240,30,...,0.771,6,35,41,18,7,3,24,26,93
10,1610612737,0021900099,"NOV 05, 2019",ATL vs. SAS,W,3,3,0.500,240,43,...,0.688,9,39,48,22,9,5,18,20,108
11,1610612737,0021900066,"OCT 31, 2019",ATL vs. MIA,L,2,3,0.400,240,36,...,0.692,16,34,50,20,5,5,16,15,97
12,1610612737,0021900052,"OCT 29, 2019",ATL @ MIA,L,2,2,0.500,240,35,...,0.667,9,24,33,28,14,7,20,29,97
13,1610612737,0021900043,"OCT 28, 2019",ATL vs. PHI,L,2,1,0.667,240,36,...,0.688,8,37,45,23,12,3,21,25,103
14,1610612737,0021900028,"OCT 26, 2019",ATL vs. ORL,W,2,0,1.000,240,43,...,0.533,9,43,52,22,5,9,18,26,103
15,1610612737,0021900014,"OCT 24, 2019",ATL @ DET,W,1,0,1.000,240,44,...,0.857,8,34,42,27,9,2,13,15,117

In [77]:
# teams.find_teams_by_full_name('louisiana')
# teams.find_team_name_by_id('1610612739')
teams.find_teams_by_state('louisiana')

[{'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002}]

In [5]:
players.find_players_by_full_name("Stephen Curry")

[{'id': 201939,
  'full_name': 'Stephen Curry',
  'first_name': 'Stephen',
  'last_name': 'Curry',
  'is_active': True}]

In [28]:
curry_season_stats = playercareerstats.PlayerCareerStats(201935).get_data_frames()[0]
# curry_game_stats = playergamelog.PlayerGameLog(player_id=201939, season='2018').get_data_frames()[0]
curry_season_stats.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201939,2009-10,00,1610612744,GSW,22.0,80,77,2896.0,528,...,0.885,48,308,356,472,152,19,243,252,1399
1,201939,2010-11,00,1610612744,GSW,23.0,74,74,2489.0,505,...,0.934,52,234,286,432,109,20,226,233,1373
2,201939,2011-12,00,1610612744,GSW,24.0,26,23,732.0,145,...,0.809,15,73,88,138,39,8,65,62,383
3,201939,2012-13,00,1610612744,GSW,25.0,78,78,2983.0,626,...,0.900,59,255,314,539,126,12,240,198,1786
4,201939,2013-14,00,1610612744,GSW,26.0,78,78,2846.0,652,...,0.885,46,288,334,666,128,14,294,194,1873

In [29]:

curry_season_stats.loc[curry_season_stats['SEASON_ID'] == '2019-20']

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
10,201939,2019-20,00,1610612744,GSW,31.0,4,4,112.0,27,...,1.0,4,16,20,26,5,2,15,10,81

In [13]:
curry_game_stats['MIN'].max()

42

In [37]:
t = teams.get_teams()
list(filter(lambda x: x['id'] == 1610612765, t))

[{'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948}]

In [40]:
print(teams.find_team_by_abbreviation('NOP'))

{'id': 1610612740, 'full_name': 'New Orleans Pelicans', 'abbreviation': 'NOP', 'nickname': 'Pelicans', 'city': 'New Orleans', 'state': 'Louisiana', 'year_founded': 2002}

In [46]:
from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=1610612740)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
# print(games.count())
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612740,NOP,New Orleans Pelicans,0021900275,2019-11-29,NOP @ OKC,L,239,104,...,0.714,7,37,44,19,8,3,13,12,-5.0
1,22019,1610612740,NOP,New Orleans Pelicans,0021900264,2019-11-27,NOP vs. LAL,L,239,110,...,0.833,13,29,42,20,7,4,19,23,-4.0
2,22019,1610612740,NOP,New Orleans Pelicans,0021900239,2019-11-24,NOP @ LAC,L,240,109,...,0.556,12,33,45,26,1,6,9,26,-25.0
3,22019,1610612740,NOP,New Orleans Pelicans,0021900234,2019-11-23,NOP @ UTA,L,241,120,...,0.950,9,29,38,21,7,6,10,24,-8.0
4,22019,1610612740,NOP,New Orleans Pelicans,0021900214,2019-11-21,NOP @ PHX,W,240,124,...,0.636,8,36,44,28,8,6,17,25,3.0

In [47]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')