In [2]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [16]:
df2 = pd.DataFrame({'A': [1.,2.,3.,4.],
'B': pd.Timestamp('20130102'),
'C': pd.Series(1, index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})

In [17]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  2.0 2013-01-02  1.0  3  train  foo
2  3.0 2013-01-02  1.0  3   test  foo
3  4.0 2013-01-02  1.0  3  train  foo

In [21]:
df2[['A']].clip(upper=3, lower=2)

     A
0  2.0
1  2.0
2  3.0
3  3.0

In [28]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -0.450182 -0.782263  1.230571  0.602026
2013-01-05  1.762962 -0.364255 -0.235032 -0.136502
2013-01-04  1.894055  1.214469 -0.721568 -1.433038
2013-01-03 -0.495214  0.592691 -0.038785  0.734418
2013-01-02 -0.216107  1.163652  1.636089 -0.179223
2013-01-01  0.350005  0.465973 -0.047652 -2.140875

In [38]:
df.loc[:, 'A'][0]

0.3500050419934538

In [41]:
df['A'] > 0

2013-01-01     True
2013-01-02    False
2013-01-03    False
2013-01-04     True
2013-01-05     True
2013-01-06    False
Freq: D, Name: A, dtype: bool

In [42]:
df.loc[:,'A'] > 0

2013-01-01     True
2013-01-02    False
2013-01-03    False
2013-01-04     True
2013-01-05     True
2013-01-06    False
Freq: D, Name: A, dtype: bool